.App {
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.Logo {
  display: inline-block;
  text-align: left;
}
.MarkerImg {
  padding-left: 20px;
}

.Header {
  text-align: center;
  display: inline-block;
}

.Search-bar {
  text-align: center;
}

.Map {
  display: inline-block;
  height: auto;
}

.Feed {
  vertical-align: top;
  float: left;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
